{% extends 'base.html.twig' %}

{% block stylesheet %}

    {{ parent() }}

    <link href="stylesheets/index.css">

{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="container">

        <div class="row justify-content-md-center text-primary">
            <h1>Please choose a mode</h1>
        </div>
        <div class="row justify-content-md-center mt-3">
            <a class="grow btn btn-outline-secondary btn-large" href="/solo">Solo</a>
        </div>
        <div class="row justify-content-md-center mt-3">
            <a class="grow btn btn-outline-secondary btn-large" href="/multi">Multi-player</a>
        </div>
    </div>

{% endblock %}
