{% extends 'base.html.twig' %}

{% block stylesheet %}

    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">

{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="images/icon.png" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form method="post" action="/newPlayer">
                {% if mode == 'multi' %}
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="player" autofocus>
                    <input type="submit" class="fadeIn fourth" value="Log In">
                {% else %}
                    <input type="text" name="player1" id="player1" class="fadeIn second" placeholder="player 1" autofocus>
                    <input type="text" name="player2" id="player2" class="fadeIn second" placeholder="player 2">
                    <input type="submit" class="fadeIn fourth" value="Start playing !">
                {% endif %}
            </form>

            {% if error %}

                <div class="alert alert-warning mx-3">
                    <strong>Warnig !</strong> The name isn't correct. Maybe it's already used or it contains ':'
                </div>

            {% endif %}

        </div>
    </div>

{% endblock %}
