body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

a {
  color: #00B7FF;
}

.grow:hover {
  transform: scale(1.5);
}

nav {
  margin-bottom: 0;
}
